@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    margin: 0%;
   padding: 0%;
   box-sizing: border-box; 
} 
 
body{
    font-family:  "DM Sans", sans-serif;
}


.navbar {
    background-color: #1B0058;
    padding: 1rem;
  }

  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-brand {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 3rem;
  }

  .navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 4rem;
    gap:3rem
  }

  .navbar-nav li {
    margin-left: 1rem;
  }

  .navbar-nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
  }

.p1{

background-image: url(./hero_image.png);
/* width: 100%;
height: 100%; */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
min-height: 50rem;
cursor: crosshair;
}

:hover::after .p1{
    opacity: 1;
}

.txt{
    margin-top: 8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.t1{
    font-size: 5rem;
}

.t2{

    font-size: 1.7rem;

}

.t3{
    margin-top: 1rem;
    width: 40rem;
}

.p2{
    background-color:#281154 ;
  text-align: center;
  height: 50.375rem;
}

.mus img{
    height: 30px;
    width: 30px;
    display: flex;
    /* justify-content: space-between; */
   justify-content: space-around;
}

.bor{
    border: .001rem solid gray;
    width: 100%;
}
.mus{
    /* transform: translate(-50%,-50%); */
    align-self: center;
    /* margin-top: 10rem; */
    font-size: 3rem;
    color: #fff;
}

.txt2{
    color: #fff;
}

.t4{
    font-size: 1.6rem;
    margin-top: 1rem;
}

.t5{
    margin-top: 4rem;
    width: 60rem;
    margin: 0% auto;
    margin-top: 4rem;
    font-size: 1.4rem;
}

.btn1{

    background-color: red;
    color: #fff;
    width: 11.438rem;
    height: 3.438rem;
    margin-top: 2rem;
}

.t6{
    /* font-size: 1.1rem; */
    margin-top: 2dvb;
}

.lep{
    margin-top: 2rem;
}

.p3{

    align-items: center;
    
    text-align: center;

    margin-top: 27rem;
}

.t7{

    font-weight: bold;
    font-size: 2rem;
}

.t8{
    width: 70rem;
    margin-left: 10rem;
    text-align:center;
    margin-top: 2rem;
}

.lepp{

    margin-top: 3rem;
}

.btn2{

    background-color: #281154;
    color: #fff;
    margin-top: 2rem;
    width: 8.313rem;
    height: 3.125rem;
}